<mat-toolbar class="secondary-toolbar" color="primary">
  <span>Verify Question</span>
</mat-toolbar>


<div style="width: 90%; margin: auto; margin-top: 20px">

  <mat-form-field style="width: 75%">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <div class="example-container">
    <table style="width: 100%" mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="questionHeader">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Header</th>
        <td mat-cell *matCellDef="let element"> {{element.questionHeader}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="questionDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.questionDescription}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="questionCorrectAnswer">
        <th mat-header-cell *matHeaderCellDef> Answer</th>
        <td mat-cell *matCellDef="let element"> {{element.questionCorrectAnswer.correctAnswers[0].answerValue}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td style="text-align: center" mat-cell *matCellDef="let element">
          <span *ngIf="!element.questionStatus.verified; else verifiedQuestion">
            <a [routerLink]="['/edit', element.questionId]" class="btn btn-primary">Verify</a>
          </span>
          <ng-template #verifiedQuestion>Question verified</ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>

</div>
