<div
  style="background-image: url('../../assets/resources/images/home1.jpg');background-size: contain;background-repeat: no-repeat;width: 100%;height: 100%;">

  <div class="card w-25" style="margin: 10px auto">
    <div class="card-body">
      <h5 class="card-title">QUESTION UPLOAD</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <span>
      <a href="/questionupload" class="btn btn-primary">Question Upload</a>
    </span>
      <span style="padding-left:10px">
      <a href="#" class="btn btn-primary">Batch Upload</a>
    </span>
    </div>
  </div>

  <div class="card w-25" style="margin: 10px auto">
    <div class="card-body">
      <h5 class="card-title">QUESTION LISTING</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <span>
      <a href="#" class="btn btn-primary">View Questions</a>
    </span>
      <span style="padding-left:10px">
      <a href="#" class="btn btn-primary">Edit Questions</a>
    </span>
    </div>
  </div>

  <div class="card w-25" style="margin: 10px auto">
    <div class="card-body">
      <h5 class="card-title">QUESTION GENERATION</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <span>
      <a href="#" class="btn btn-primary">Generate Questions</a>
    </span>
    </div>
  </div>

</div>


<!--<button mat-button routerLink="/">Home</button>
<button mat-button routerLink="/about">About</button>-->
